$tab: 768px;
// if you change $nav width, change the width in the behaviors.js file
// related to the mobile dropdown ('nolink') menu items to match $nav
$nav: 1030px;
$utility: 710px;
$desk: 1024px;

$container: 1210px;
$sidebar: 275px;
$content: 850px;
